body {
	text-align: center;
	margin: 0;
}
header {
	background-color: #f15b31;
	color: #ffffff;
	padding: 30px 20px;
}
nav {
	background-color: #00a6b3;
	color: #ffffff;
	padding: 20px 0;
	border-bottom: 2px solid transparent;
}
a:hover {
	border-bottom: 2px solid white;
}
main {
	width: 850px;
	margin: 35px auto;
}
h1, a, h2 {
	font-family: Raleway;
	letter-spacing: 1px;
	text-transform: uppercase;
}
h1 {
	font-weight: 400;
	font-size: 45px;
	margin: 0;
}
h2 {
	font-weight: 600;
	font-size: 20px;
}
p {
	font-family: "Droid Serif";
	line-height: 26px;
	font-size: 18px;
}
a {
	color: #ffffff;
	text-decoration: none;
	font-weight: 600;
	font-size: 18px;
	margin: 0 20px;
}
img {
	margin: 40px 8px;
}
footer {
	text-transform: uppercase;
	padding: 20px;
	background-color: #0d2c40;
	color: white;
	font-size: 14px;
	letter-spacing: .08em;
	font-weight: 500;
}
.copyright {
	float: left;
}
.message {
	float: right;
}
.clearfix:after {
visibility: hidden;
display: block;
content: " ";
clear: both;
height: 0;
font-size: 0;
}
.name {
	color: #f15b31;
	font-weight: 700;
}
button {
	height: 50px;
	width: 100px;
	background-color: white;
	border: 2px solid #00a6b3;
	border-radius: 6px;
	text-transform: uppercase;
}

button:hover {
  box-shadow: 7px 15px 50px 0 rgba(0,166,179,0.5);
  background-color: #00a6b3;
  color: white;
}

button:active {
	box-shadow: 5px 10px 25px 0 rgba(0,166,179,0.5);
}
#scoreBoard {
	padding-top: 5px;
	margin: 0 auto;
	height: 50px;
	width: 100px;
	background-color: white;
	border: 2px solid #00a6b3;
	border-radius: 6px;
	text-transform: uppercase;
}